.DS_Store
.sass-cache

public/*
!public/favicon.ico
!public/apple-touch-icon.png
!public/keepatally.png
!public/keepatally-logo.png

node_modules
npm-debug.log
firebase-debug.log
.babelrc
__snapshots__
.eslintcache
