.form-row {
  margin: 0 0 0.5em;
}
.form-label {
  display: block;
}
.form {
  margin-bottom: 2em;
  input {
    background-color: #f5f5f5;
    border: none;
    font-size: 24px;
    margin: 0.25em 0;
    padding: 0.5em;
    width: 100px;
  }
  input:focus {
    background-color: #fff;
  }
  .tally-title {
    width: 90%;
  }
}
.form-help {
  margin: 0;
}
