.tally-edit {
  display: inline;
  padding: 0 0 0 0.5em;
}

.tally-info-dates {
  display: block;
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
  li {
    display: inline;
    padding: 0 0.5em 0 0;
  }
}

.show-tally {
  margin-top: 24px;
}
