@import "./variables";

.tally-block {
  margin: 0 10px 20px 0;
  width: 134px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.tally-block:focus {
  filter: none;
  fill: none;
}

.tally-block-active {
  cursor: pointer;
}

.tally-stroke-complete {
  fill: $stroke-set;
}

.tally-stroke-empty {
  fill: none;
}

.tally-stroke-waiting {
  fill: $stroke-not-set;
}

@keyframes vertical-strokes {
  0%   {transform: scaleY(0)}
  100% {transform: scaleY(1)}
}

.tally-stroke-v-clicked {
  animation: vertical-strokes 0.14s ease 1;
  transform-origin: center top;
}
