@import "../../node_modules/normalize-scss/sass/normalize";
@include normalize();

@import "./variables";
@import "./banner";
@import "./panel";
@import "./welcome";
@import "./form";
@import "./show";

body {
  background-color: #ECEFF1;
  color: #263238;
  margin: 0;
}

h1 {
  color: #455A64;
  font-size: 28px;
  font-weight: normal;
}

button, .button, a.button {
  background-color: #455A64;
  border: none;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
}

.hide {
  display: none;
}

.tally-block {
  margin: 0 10px 20px 0;
  width: 140px;
}

.tally-stroke {
  fill: none;
}

.tally-stroke-waiting {
  fill: $stroke-not-set;
}

.tally-stroke-stroked {
  fill: $stroke-set;
}

.active {
  cursor: pointer;
}
